// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body
{
	height: 100%;
	margin: 0;
}
#signup_login
{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
#signup_row
{
	border-top: 1px solid black;

}

#signup_container
{
	margin: 0 auto;
	width: 90%;
	max-width: 650px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
	// position: relative;
	// top: 50%;
	// transform: translateY(-50%);
}
.top_buffer
{
	margin-top: 35px;
	padding-top: 45px;
}
#signup_button
{
	width:90%;
}
#signup_left
{
	text-align: left;
	padding-bottom: 20px;
}
#login_group
{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.input-group-addon
{
	background-color: white;
}
#login_panel
{
	border-radius: 7px;
}
.login_title
{
	padding-top: 30px;
}
#login_panel_body
{
	padding: 45px;
}
#login_footer
{
	display: flex;
	justify-content: center;
}
#space
{
	padding-left: 10px;
}
.login
{
	text-align: center;
	max-width: 450px;
	height: auto;
	width: 90%;
	
}
.login_background
{
	background-color: black;
	height: 100%;

}
#forget_password
{
	margin-top: 30px;
	align-self: flex-end;
}
.login_field
{
	width: 100%;
}
#login_button
{
	width:100%;
}
