// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.half_button
{
	width: 100%;
}
.menu_icon
{
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#menu
{
	display: flex;
	padding: 10px 1px 5px 1px 
}
.menu_icon p
{
	color: white;
	font-size: 0.7em;
	padding-top: 3px;
}
body
{
	width: 100%;

}
footer
{
	padding-bottom: 70px;
}
#dashboard_head
{
	text-align: center;
}
#dashboard_head_body
{
	display: flex;
	justify-content: space-between;

}
.space
{
	padding-left: 10px;
}
.v-center {
  position: relative;
  transform: translateY(50%);
}
.name_catergory
{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.name_catergory h4
{
	margin: 0;
}
#daily_budget
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#transactions
{
	margin-top: 20px;
}
.full_button
{
	width: 100%;
}
.icon
{
	margin-top: 5px;
}
.no_style_button
{
	font-size: 40px;
	width: 20%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}
.transaction_name
{
	display: flex;
	margin-top: 15px;
}
.panel-body
{
	padding: 0;
}
.navbar
{
	background-color: rgba(44,62,80,0.95) 
}