// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box
{

	padding: 20px;
}
#account_page
{
	margin-top: 50px;
}
.container
{
	max-width: 600px;
}
#summary_page
{
margin-top: 50px;
}
#homepage
{
	width:80%;
	margin: 0 auto;
}
.picture
{
	width: 100%;
	max-width: 350px;
}
#sign_up_button
{
	max-width: 300px;
	width: 100%;
}
.homepage
{
	padding: 10px;
}
#a
{
	margin-top: 150px;
}

@media screen and (max-width: 480px) {
    #homepage {
        text-align: center;
    }
    #a
{
	margin-top: 0px;
}

}